{% extends "main.html" %}
{%block content%}

<div style="display: grid; grid-template-columns: 3fr 1fr;">
    <div>
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>
        {% for message in room_messages %}
        
        <div>
            {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}

            <small>@{{message.user}} {{message.created | timesince}} ago </small>
            <p> {{message}}</p>
            <hr>

            

        </div>
        
        
        
        {% endfor %}
        {% if user.is_authenticated %}  

        
        <div>
            <form method="post" action="">
                {% csrf_token %}
                <input type="text"  name="body" placeholder="Enter your comment here....." style="width: 80%; height: 1.5rem;"/>
            </form>
        </div>
        
          
        {% endif %}
    </div>

    <div>
        <h2>Participanrs</h2>
        <hr>
        {% for participant in participants %}
        <h4>{{participant.username}}</h4>
        {% endfor %}
    </div>


</div>



{% endblock content%}